.table__icon {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.table__wrapper__title {
    margin-bottom: 20px;
    margin-top: 200px;
}
.table__title {
    margin-bottom: 20px;
}
.table__text {
    font-size: 24px;
}
.table__container {
    overflow-x: auto;
    padding-bottom: 50px;
    margin: 50px 0 30px 0;
}
.table {
    font-size: 16px;
    width: 100%;
        
    &  td {
            padding: 12px;
            min-width: 130px;
    }
    & td:nth-child(2), td:first-child {
            min-width: 20px;
    }
    & tr:nth-child(even) {
            background-color:rgba(201, 217, 255, 0.08);
    }
}
.table__head {
    font-weight: 600;
}
.more {
    display: none;
}
.table__button-down {
    display: flex;
    margin-left: auto;

}

.table__button-up__container {
    display: none;
    // display: flex;
    // align-items: center;
    // margin-top: 20px;
}
    
.table__button-up {
    margin-left: auto;
}
@media screen and (min-width: 768px) {
    .table__wrapper__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}